body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Style for h1 */
h1 {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 30px; /* Adjusted to be closer to h2 */
    color: #000000;
    line-height: 34px; /* Adjusted to match h2 line height */
    text-decoration: none;
    transform: none;
    letter-spacing: 0;
}

/* Style for h2 */
h2 {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 30px; /* Base size */
    color: #000000;
    line-height: 33px;
    text-decoration: none;
    transform: none;
    letter-spacing: 0;
}

/* Style for h3 */
h3 {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 28px; /* Adjusted to be closer to h2 */
    color: #ffffff;
    line-height: 31px; /* Adjusted to be consistent with h2 */
    text-decoration: none;
    transform: none;
    letter-spacing: 0;
}

/* Style for p */
p {
    font-family: 'Karla', sans-serif;
    font-weight: normal;
    font-size: 16px; /* Base size */
    color: #000000;
    line-height: 26.656px; /* Base line height */
    text-decoration: none;
    transform: none;
    letter-spacing: 0;
}

/* General reset for all text content */
* {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    color: #000;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 1px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Media Queries for Responsive Font Sizes */
@media (max-width: 1200px) {
    h1 {
        font-size: 28px; /* Closer to h2 */
    }
    h2 {
        font-size: 28px; /* Adjusted size for larger screens */
    }
    h3 {
        font-size: 26px; /* Closer to h2 */
    }
    p {
        font-size: 15px; /* Adjusted size for larger screens */
    }
}

@media (max-width: 992px) {
    h1 {
        font-size: 26px; /* Closer to h2 */
    }
    h2 {
        font-size: 26px; /* Adjusted size for medium screens */
    }
    h3 {
        font-size: 24px; /* Closer to h2 */
    }
    p {
        font-size: 14px; /* Adjusted size for medium screens */
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 24px; /* Closer to h2 */
    }
    h2 {
        font-size: 24px; /* Adjusted size for smaller screens */
    }
    h3 {
        font-size: 22px; /* Closer to h2 */
    }
    p {
        font-size: 13px; /* Adjusted size for smaller screens */
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 22px; /* Closer to h2 */
    }
    h2 {
        font-size: 20px; /* Adjusted size for very small screens */
    }
    h3 {
        font-size: 18px; /* Closer to h2 */
    }
    p {
        font-size: 12px; /* Adjusted size for very small screens */
    }
}
